<div id={{item.id}} class="cv-card card">
    <div class="card-body">
        <h4 class="card-title cv-card-title">
            {{ item.title }}
        </h4>
        {%- for element in item.items -%}
            <p class="card-text">
                <span class="cv-element-name">
                    {{ element.name }}
                </span>
                <span class="cv-element-detail">
                    {{ element.detail }}
                </span>
            </p>
        {%- endfor -%}
    </div>
</div>